// noinspection JSUnusedGlobalSymbols

import { defaultAxios } from '{{apiRelativeToRoot}}index';
{{{vendorExtensions.IMPORTS}}}
{{#operations}}{{#operation}}
{{{vendorExtensions.CODE}}}
{{/operation}}{{/operations}}
