package {{packageName}}

import (
    "encoding/json"
    "mime/multipart"
    "net/http"
    "strconv"
    "time"
)

// Dummy variables to suppress unused import
var _ = multipart.FileHeader{}
var _ = http.StatusOK
var _ = strconv.ErrRange
var _ = time.Time{}
{{#operations}}
    {{#operation}}
        {{{vendorExtensions.CODE}}}
    {{/operation}}
{{/operations}}
