package {{packageName}}
{{#models}}
import (
	"encoding/json"
	"fmt"
	"mime/multipart"
	"time"
)

var _ = json.Encoder{}
var _ = fmt.Sprintf("")
var _ = multipart.FileHeader{}
var _ = time.Now()

{{#model}}
    {{{vendorExtensions.CODE}}}
{{/model}}
{{/models}}
